<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ashomok.eNumbers"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"/>
    <application android:label="@string/appName"
                 android:icon="@drawable/ic_launcher"
                 >
        <activity android:name="com.ashomok.eNumbers.MainActivity"
                  android:label="@string/appName"
                  android:exported="true"
                  android:windowSoftInputMode="stateHidden"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.APP_ERROR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.ashomok.eNumbers.AboutActivity"
            android:label="About"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName="com.ashomok.eNumbers.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.ashomok.eNumbers.MainActivity" />
        </activity>
        <activity android:name="com.ashomok.eNumbers.ENDetailsActivity"
                  android:label="Details"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                  android:parentActivityName="com.ashomok.eNumbers.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.ashomok.eNumbers.MainActivity" />
        </activity>
    </application>
</manifest>
